html {
  --color-1: #463220;
  --color-2: #66593c;
  --color-3: #eceadd;
  --color-4: #f7f8f5;
  --color-5: #fff;
  --gap-s: 0.625rem;
  --gap: 1.25rem;

  --typo-1: "Adwaita Sans", sans-serif;
  --typo-2: "Adwaita Sans", sans-serif;
}

body {
  font-family: var(--typo-1);
  margin: 0px;
  color: var(--color-2);
  background-color: var(--color-4);
}

.box {
  padding: var(--gap);
  border-radius: var(--gap);
  background-color: var(--color-5);
}

button {
  font-family: var(--typo-1);
  font-size: 1rem;
  cursor: pointer;
}

h1,
h2,
h3 {
  font-weight: 600;
  margin: 0px;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.flex {
  display: flex;
  gap: var(--gap);
}

.flex > * {
  flex: 1;
}

.mb {
  margin-bottom: var(--gap);
}

.bg-1 {
  background-color: var(--color-1);
}
.bg-2 {
  background-color: var(--color-2);
}
.bg-3 {
  background-color: var(--color-3);
}
.bg-4 {
  background-color: var(--color-4);
}
.bg-5 {
  background-color: var(--color-5);
}

.container {
  grid-template-columns: 240px auto;
  display: grid;
  padding: var(--gap);
  gap: var(--gap);
}

/* Sidenav */

.sidenav li {
  display: flex;
  align-items: center;
  gap: var(--gap-s);
}

.sidenav li span {
  width: 2rem;
  height: 2rem;
  background-color: var(--color-4);
  border-radius: var(--gap);

  display: flex;
  align-items: center;
  justify-content: center;
}

.sidenav li a {
  flex: 1;
  font-size: 1.125rem;
  text-decoration: none;
  color: var(--color-1);
  padding: var(--gap-s) 0;
}

.sidenav li:hover span {
  background-color: var(--color-3);
}


/* danterange */

.daterange {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--gap);
}


/* Resumo */

.resumo {
  font-size: 1.5rem;
  font-weight: 600;
}

.resumo h2 {
  font-size: 1.5rem;
  margin-bottom: var(--gap);
  color: var(--color-1);
}

/* Vendas */

.venda {
  display: grid;
  grid-template-columns: auto auto 1fr;
  gap: var(--gap);
  margin-bottom: var(--gap-s);
  align-items: center;
}

.venda div:last-child {
  justify-self: end;
}

.venda a {
  text-decoration: none;
  color: inherit;
}
